.benefits__wrapper {
    padding: 128px 0;
}

.benefits__title {
    margin: 0 0 48px 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: $dark-blue;
}

.benefits__list {
    display: flex;
    justify-content: space-between;
}

.benefits .list__item {
    position: absolute;
    background-color: $grey;
}

.benefits__item a::before {
    position: relative;
    top: 0;
    left: 0;
    content: url("../img/about-us/benefits/100000.svg");
    width: 50px;
    height: 25px;
}