.main__benefits {
    margin-bottom: 128px;
}

.benefits__title {
    margin: 0 0 48px 0;
    padding-top: 128px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: $dark-blue;
}

.benefits__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.benefits__partners {
    align-items: center;
}

.benefits__item {
    position: relative;
    width: 405px;
    background-color: $grey;

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $dark-blue;
    }

    &:nth-child(1)::before {
        position: absolute;
        content: url("../img/about-us/benefits/pen.svg");
        top: 50px;
        left: 48px;
    }

    &:nth-child(2)::before {
        position: absolute;
        content: url("../img/about-us/benefits/ruler.svg");
        top: 50px;
        left: 48px;
    }

    &:nth-child(3)::before {
        position: absolute;
        content: url("../img/about-us/benefits/groupe.svg");
        top: 50px;
        left: 48px;
    }
}

.benefits__partners {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
}
