.features {
    
    background: $grey;
    &__wrapper {
        position: relative;
        padding: 128px 0;
    }

    &__information {
        position: relative;
        max-width: 630px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 62px;

        &__title {
            position: relative;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            color: $dark-blue;
        }
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
}

.information__title::before {
    position: absolute;
    content: "Features";
    font-size: 16px;
    line-height: 28px;
    top: -55px;
    right: 270px;
}

.list__item {
    position: relative;
    max-width: 396px;
    background: #ffffff;
    margin: 15px;
    
    &:nth-child(1)::before {
        position: absolute;
        content: url("../img/main/features/icon-client.svg");
        left: 48px;
        top: 50px;
        width: 32px;
        height: 28px;
    }
    
    &:nth-child(2)::before {
        position: absolute;
        content: url("../img/main/features/icon-ok.svg");
        left: 48px;
        top: 50px;
        width: 32px;
        height: 28px;
    }

    &:nth-child(3)::before {
        position: absolute;
        content: url("../img/main/features/icon-custom.svg");
        left: 48px;
        top: 50px;
        width: 32px;
        height: 28px;
    }

    &:nth-child(4)::before {
        position: absolute;
        content: url("../img/main/features/icon-support.svg");
        left: 48px;
        top: 50px;
        width: 32px;
        height: 28px;
    }

    &:nth-child(5)::before {
        position: absolute;
        content: url("../img/main/features/icon-delivery.svg");
        left: 48px;
        top: 50px;
        width: 32px;
        height: 28px;
    }

    &:nth-child(6)::before {
        position: absolute;
        content: url("../img/main/features/icon-approach.svg");
        left: 48px;
        top: 50px;
        width: 32px;
        height: 28px;
    }
}

.item__wrapper {
    position: relative;
    padding: 108px 33px 48px 48px;
}


.item__title {
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $dark-blue;
}

.item__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: $dark-blue;
}
