.reviews {
    background: #f4f6fc;
}

.reviews__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 130px 0;
}

.reviews__info {
    width: 844px;
    height: 250px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-container {
    max-width: 844px;
}

.reviews__slider {
    position: relative;
    max-width: 843px;
    height: 250px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    position: relative;
    width: 2532px;
    height: 250px;
    display: flex;
    background: #F4F6FC;
    left: 0;
    transition: all ease 1s;
}

.review__title {
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 56px;
    margin: 0;
    color: $dark-blue;
}

.review__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $dark-blue;
}

.reviews__button_prev {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 155px;
    right: 120px;
    background: rgb(67, 67, 236);
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: .9rem;
}

.reviews__button_next {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 155px;
    right: 50px;
    background: rgb(190, 173, 173);
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: .9rem;
}

.slider__feedback {
    position: relative;
}

.slider__feedback p {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    margin: 0;
    padding-bottom: 106px;
    color: $dark-blue;
}

.slider__feedback img {
    position: absolute;
    width: 250px;
    height: 56px;
    bottom: 0;
    left: 0;
}
